// Override bulma.io variables.
$primary: #6441A4;

// Imports.
@import '~bulma/bulma';  // Bulma.io

// Define font: Lobster
@font-face {
  font-family: "Lobster";
  src: url("../media/fonts/Lobster-Regular.ttf");
}

.font-lobster {
  font-family: "Lobster";
}

// Add a little bit of margin below the navigation bar.
.nav {
  margin-bottom: 20px;
  min-height: 45px;
}

// Customize navbar brand size and font.
.is-brand {
  font-family: "Lobster";
  font-size: 2em;
}

// Customize navbar item dimensions.
.nav-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

// Set width to 100%.
.width-100 {
  width: 100%;
}

// Set width to 50%.
.width-50 {
  width: 50% !important;
}
