.googlechart {
  display: inline-block;
  margin: 0 auto;
}

// Width 100%.
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50% !important;
}

.nav {
  margin-bottom: 20px;
}

.login-notify {
  margin-top: 20px;
}

// Import Bulma.
@import '~bulma/bulma';
