// Width 100%.
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50% !important;
}

.nav {
  margin-bottom: 20px;
}

.login-notify {
  margin-top: 20px;
}

// Override bulma.io variables.
$primary: #6441A4;

// Import Bulma.
@import '~bulma/bulma';
